<%- include('./partials/head') %> 
  
  <body>
    <h1>
      <span class="material-icons"> push_pin</span>
       Quadro de Avisos
    </h1>
<%- include('./partials/scripts_import') %> 
  </body>
</html>